@font-face {
    font-family: "Goldman";
    src: url("/fonts/Goldman/Goldman-Regular.woff2") format("woff2"); /* Direcionamento para o site e identificação do formato da fonte para reconhecimento do navegador */
    font-display: swap; /* Permite a legibilidade do conteúdo escrito do site antes mesmo da fonte ser baixada para o navegador */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Goldman";
    src: url("/fonts/Goldman/Goldman-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Anton";
    src: url('/fonts/Anton/Anton-Regular.ttf');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Variable";
    src: url('/fonts/Open Sans/OpenSans-VariableFont.ttf');
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Italic Variable";
    src: url('/fonts/Open Sans/OpenSans-Italic-VariableFont.ttf');
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Archivo Black";
    src: url('/fonts/Archivo Black/ArchivoBlack-Regular.ttf');
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

:root {
    /* Cores do site */
    --cor-navbar:  #8c0002;
    --cor-background-game: #B40103;
    --cor-background-card: #8c0002;
    --cor-sombra-luminosa: #e90004;
    --cor-botoes-e-acoes: rgb(172, 0, 0);
    --cor-texto:  #fcfcfc;
    --cor-footer: #360001;

    /* Fontes do site */
    --fonte-navbar-links: "Goldman", sans-serif;
    --game-spef-font: sans-serif;
    --game-name: "Anton", Arial;
    --search-bar-font: "Open Sans Variable", sans-serif;
    --search-bar-italic: "Open Sans Italic Variable", sans-serif;
    --site-official-font: "Archivo Black", sans-serif;
}