footer {
    background-color: var(--cor-footer);
    color: var(--cor-texto);
    padding: 20px;
    z-index: 1000;
    width: 100%; height: auto;
    line-height: 1;
    background-image: linear-gradient(to left, #d40004 1%, #810000 60%);
    margin-top: auto;
    box-shadow: 0px -5px 20px #270000;
}

footer h1 {
    font-family: var(--game-name);
    margin: 0;
}

footer p {
    font-family: sans-serif;
}
