footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--cor-footer);
    color: var(--cor-texto);
    padding: 20px;
    z-index: 1000;
    width: 100%;
    height: auto;
    line-height: 1;
    background-image: linear-gradient(to left, #840103 1%, transparent 60%);
    margin-top: auto;
}