.navbar-content {
    background-color: var(--cor-navbar);
    font-family: var(--site-official-font);
    font-weight: normal;
    font-size: 20px;
    width: 100%; min-height: 50px; height: auto;
    display: flex; flex-direction: row;
    position: sticky; /* Define que a navbar estará fixa na tela */
    box-shadow: 0 5px 20px 0px #470001; 
    z-index: 1000; /* Comando para definir a profundidade da navbar para o 'topo' do site */
    top: 0; left: 0;
}

.navbar-links {
    display: flex;
    flex-direction: row;
}

.navbar-links a, .profile-info, .notifications {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--cor-texto);
    font-weight: normal;
    margin-inline: 5px;
    transition:
        transform 1s ease,
        box-shadow 0.5s ease;
    height: 100%;
}

.navbar-links a:hover, .profile-info:hover, .notifications:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #8c0002 10%, #580001 100%);
    background-color: #940103;
    box-shadow: 0px 8px 16px -8px #e9141b;
}

.profile-info {
    margin-left: auto;
}

.navbar-link-style {
    gap: 10px;
}

#profile-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
    color: var(--cor-texto);
}

.avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

@media (max-width: 720px) {
    .navbar-content {
        flex-direction: column;
    }

    #profile-tag {
        display: none;
    }
}