.navbar-content {
    background-color: var(--cor-navbar);
    padding: 10px 10px;
    font-family: var(--fonte-navbar-links);
    font-weight: normal;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

nav {
    position: sticky; /* Define que a navbar estará fixa na tela */
    box-shadow: 0 3px 10px 0px #540103; 
    z-index: 1000; /* Comando para definir a profundidade da navbar para o 'topo' do site */
}

.navbar-links a {
    text-decoration: none;
    border: 0;
    color: var(--cor-texto);
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-links a:hover {
    background-color: #940103;
    border-radius: 5%;
    padding: 5px;
    box-shadow: 2px 2px 3px #740103;
    
}

.profile-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
    color: var(--cor-texto);
    text-decoration: none;
}

.avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

