body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-custom {
  max-width: 125px;
  height: 190px;
  border-radius: 15px !important;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 10px 10px rgba(0,0,0,0.25);
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.card-custom:hover {
  border-color: #8C0002;
  transform: scale(1.01);
}

.card-custom img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #303030;
  width: 100%;
  padding: 4px 10px 4px 10px;
  bottom: 0;
  left: 0;
}

.rating {
  font-size: 15px;
  font-weight: regular;
  color: #989898;
}

.stars {
  display: flex;
  gap: 2px;
  padding-left: 5px;
}

.star-filled {
  color: #8C0002;;
}

.star-empty {
  color:#989898;
}

.review-card {
  background: #303030;
  border-radius: 20px;
  padding: 10px;
  min-width: 400px;
  height: auto;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
}

.review-title {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.review-title:hover {
  transition: ease-in-out 0.1s;
  color: #8C0002;
}

.review-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.game-cover {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  object-fit: cover;
}

.review-description {
  margin-top: 10px;
  color: #bdbdbd;
  line-height: 1.5;
}

.review-footer {
  border-top: 1px solid #444;
  margin-top: 10px;
  padding-top: 10px;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #646464;
  font-size: medium;
}

.avatar {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 50%;
}

.review-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-carousel {
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  height: 250px;
}

.custom-carousel img {
  height: 250px;
  object-fit: cover;
} 

.profile-stats {
  display: flex;
  background-color: #8C0002;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  min-width: 150px;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-stat {
  color: white;
  font-size: 14px;
}

.number-stat {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.stats-row {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.profile-card {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.profile-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-name {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.edit-profile-btn {
  border: none;
  background: white;
  color: #8C0002;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.profile-link {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.profile-description {
  color: white;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
}

.review-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

/* SWIPER */

.card-slider-container {
  width: 100%;
  position: relative;
  max-width: 1400px; 
  margin: 2px auto; 
  padding: 0 2%; 
}

.card img {
  width: 100% !important;
  border-radius: 10px;
}



.swiper-wrapper {
  display: flex !important;
  margin: 0 !important;
}

.thumbCard {
  margin: 2px !important;
}
/* SETINHAS */

.card-slider-container .swiper-button-next,
.card-slider-container .swiper-button-prev {
  height: 100%;
  width: 18px;
  top: 0;
  bottom: 0;
  margin: 0;
  background: rgba(20, 20, 20, 0.5);
  color: #fff; 
  font-weight: bold;
  z-index: 10;
}

.card-slider-container .swiper-button-next::after,
.card-slider-container .swiper-button-prev::after {
  color: #fff; 
  width: 18px;
  font-weight: bold;
  transition: transform 0.1s ease-out;
}

@media (min-width: 768px) {
  .card-slider-container .swiper-button-next::after,
  .card-slider-container .swiper-button-prev::after {
    width: 18px; 
  }
}

.card-slider-container .swiper-button-next {
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-slider-container .swiper-button-prev {
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Modal de review */
.modal-review {
  background-color: #1A1A1A;
}

.modal-header {
  color: #9F9F9F;
  padding: 10px 15px;
}

.modal-body {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.game-img {
  width: 100px;
  height: 150px;
}

.modal-info {
  flex-direction: column;  
  margin: 16px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-description {
  font-weight: bold;
}

.modal-description span {
  color: #353535; 
  font-weight: normal;
}

.modal-review .form-control {
  background-color: #353535;
  color: #9F9F9F;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 12px;
  resize: none; 
}

.modal-review .form-control::placeholder {
  color: #9F9F9F;
}

.modal-review .form-control:focus {
  background-color: #353535;
  color: #9F9F9F;
  border-color: #8C0002; 
  box-shadow: none;     
}

.modal-rating .modal-like {
  font-size: 16px;
}

.modal-review .star-filled {
  color: #8C0002; 
}

.modal-review .star-empty {
  color: #353535; 
}

.modal-review .star-filled, 
.modal-review .star-empty {
  cursor: pointer;
  font-size: 1.1rem; 
  transition: transform 0.2s ease;
}

.modal-review .bi-heart {
  font-size: 1.1rem; 
  cursor: pointer;
  color: #353535; 
}

/* Botões do footer do modal de review*/
.btn {
  border-radius: 16px !important; 
  font-size: 14px;
}

.btn-secondary {
  background-color: #555;
  border: none;
}

.btn-success {
  background-color: #2D6B1E; 
  border: none;
}

@media (max-width: 576px) {
  .modal-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}