<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> <!-- Referências de estilo (style) do Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/base/bootstrap-icons.css"> <!-- Referência (link) direta para o arquivo de ícones do Bootstrap -->
    <link rel='stylesheet' href='/stylesheets/style.css'/> <!-- Referência (link) direta para o arquivo 'style.css', que importa todas as stylesheets necessárias para o carregamento do site e evita sobrecarregar o servidor com muitas requests -->

    <!-- Caso alguma tela possua uma estilização exclusiva, esse comando verifica qual arquivo CSS está sendo requisitado -->
    <% if (typeof exclusiveCSS !== 'undefined') { %>
      <link rel="stylesheet" href="/stylesheets/pages/<%= exclusiveCSS %>.css"/>
    <% } %>
    
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar-content">
        <div class="navbar-links">
            <a class="navbar-link-style" href="/">
                <i class="bi bi-house-fill"></i>
                Início
            </a>
            <a class="navbar-link-style" href="#">
                <i class="bi bi-star-fill"></i>
                Avaliações
            </a>
        </div>

        <%- include('_search') %>
        <div class="notifications">
            <button>
                <i class="bi bi-bell-fill"></i>
            </button>
        </div>
        <div class="profile-info">
            <a href="/profile" id="profile-link">
                <img src="https://static.qobuz.com/images/covers/ky/71/fcz73cy1471ky_600.jpg" alt="Profile" class="avatar">
                <span id="profile-tag">Perfil</span>
            </a>
        </div>
    </nav>
    