<form class="searchbar" action="/search" method="POST"> 
    <div class="search-container">
         <input 
             class="search-input"
             type="text" 
             placeholder="Pesquise por título, criador, desenvolvedora..."
             name="query"
        >
        <button type="submit" class="search-button">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>