<div class="profile-card">
  <img src="/images/default.jpg" class="profile-avatar">
  <div class="profile-header">
        <h2 class="profile-name">
        Nome do Usuário
        </h2>
        <div class="profile-buttons">
            <button class="edit-profile-btn">
                EDITAR PERFIL
            </button>
            <i class="bi bi-link-45deg profile-link"></i>
        </div>
  </div>
  <p class="profile-description">
    Descrição do perfil...
  </p>
</div>