<section class="profile-stats">
    <div class="stats-row">
         <div class="stat-item">
            <h4 class="number-stat">5</h4>
            <h6 class="text-stat">Jogos</h6>
        </div>
        <div class="stat-item">
            <h4 class="number-stat">5</h4>
            <h6 class="text-stat">Seguindo</h6>
        </div>
        <div class="stat-item">
            <h4 class="number-stat">5</h4>
            <h6 class="text-stat">Seguidores</h6>
        </div>
    </div>
</section>