<div class="profile-card">
  <img src="https://api.dicebear.com/9.x/bottts/png?seed=<%= authorName %>" class="profile-avatar" alt="Avatar Lucas">
  <div class="profile-header">
        <h2 class="profile-name">
        <span>
          <%= authorName %>
        </span>
        </h2>
        <div class="profile-buttons">
            <button class="edit-profile-btn">
                EDITAR PERFIL
            </button>
            <i class="bi bi-link-45deg profile-link"></i>
        </div>
  </div>
  <p class="profile-description">
    <%= authorDescription %>
  </p>
</div>