@keyframes design-transition {
    0% {
        transform: translateX(-15%);
        opacity: 0.0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes carousel-animation {
    0% {
        transform: translateX(55%);
        opacity: 0;
    }


    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

body {
    background-image: linear-gradient(to bottom, #290000 25%, transparent);
    display: flex;
    flex-direction: column;
}

.container-relative {
    display: grid;
    grid-template-areas: "main";
    min-height: 120vh;
    width: 100vw;
}

.container-relative > * {
    grid-area: main;
}

.game-background-top, .game-background-bottom,
.shadow-limit-top, .shadow-limit-bottom {
    width: 100%;
    height: 100%;
}

.game-background-top {
    padding: 15px;
    background-color: #b40103;
    background-image: linear-gradient(to right, #540103 10%, transparent 40%);
    /* Pontos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    clip-path: polygon(0% 0%, 53% 0%, 48% 100%, 0% 100%);
    z-index: 10;
    animation: design-transition 1.5s ease forwards;
    position: relative;
}

.game-background-bottom {
    background-color: #740103;
    /* background-image: linear-gradient(to right, #540103 1%, transparent 30%); */
    /* Pontos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    clip-path: polygon(0% 0%, 56.5% 0%, 50% 100%, 0% 100%);
    animation: design-transition 1s ease forwards;
    z-index: 5;
}

.shadow-limit-bottom {
    filter: drop-shadow(8px 0px 16px #0f0000);
    z-index: 5;
}

.shadow-limit-top {
    filter: drop-shadow(5px 0px 10px #3d0102);
    z-index: 10;
}






.review-lobby {
    min-width: 100vw;
    width: auto; height: 100vh;
    background-image: linear-gradient(to right, #3d0001 25%, transparent);
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}

.reviews-title {
    font-family: var(--game-name);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    margin-top: 10px;
}

.reviews-title h2 {
    margin: 0;
    line-height: 1;
}

.review-background-top, .review-background-bottom {
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 100%; height: 100%;
}

.review-background-top {
    z-index: 10;
    background-color: #b40103;
    background-image: linear-gradient(to left, #540103 10%, transparent 40%);
    /* Pontos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    clip-path: polygon(0% 0%, 100% 0%, 100% 12%, 0% 12%);
}

.review-background-bottom {
    z-index: 5;
    background-color: #740103;
    clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 15%);
}

#review-icon {
    font-size: 30px;
}




.game-card {
    width: 45%; height: 50%;
    padding: 20px; padding-bottom: 30px;
    background-color: var(--cor-background-card);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #B40103;
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: left;
    overflow: hidden;
    z-index: 20;
    position: relative;
    transition: height 1s ease;
}

.game-card::before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 100px;
    background-image: linear-gradient(transparent, #8c0002 70%);
    z-index: 1;
}

#show-more {
    z-index: 2;
    width: 100%; height: 60px;
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%; /* O lado esquerdo do elemento é centralizado no container pai */
    transform: translateX(-50%); /* O elemento é então posicionado exatamente no meio, deslocado 50% do seu comprimento X para a esquerda */
    transition: 
        opacity 0.5s ease,
        transform 0.2s ease;
    opacity: 0.5; /* O botão fica escondido */
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-more:hover {
    transform: translateX(-50%) scale(1.1);
    opacity: 1;
}

/* Espaço para classes que serão manipuladas em Javascript */

.game-card.active {
    height: auto;
    transition: height 1s ease;
}

.game-card.active .game-description {
    filter: blur(0px);
}

.game-card.active::before {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}






.game-visuals {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    gap: 40px;
    margin-bottom: auto;
}

.carousel {
    width: 40vw;
    border: 5px solid #5e0002;
    border-radius: 0px;
    box-shadow: 0px 5px 10px #140000;
    padding: 5px;
    background-image: linear-gradient(45deg, #1f0000, #270000);
    position: relative;
    overflow: hidden; 
    aspect-ratio: 16/10;/* Mantendo a proporcão dos carrosséis para que tanto as imagens quanto os vídeos tenham o mesmo tamanho e se adaptem ao tamanho da tela*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    width: 100%; height: 100%;
}

.carousel::before {
    content: '';
    position: absolute;
    bottom: 0;left: 0;
    z-index: 1;
    width: 100%; height: 150px;
    background-image: linear-gradient(transparent, rgb(10, 10, 10));
    transition: opacity 0.5s ease;
    opacity: 1;
}

.carousel-style {
    position: relative;
    z-index: 20;
    animation: carousel-animation 1s ease-out;
}

.carousel-style::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    border: 30px solid transparent;
    border-top: 30px solid #3d0102;
    border-left: 30px solid #3d0102;
    filter: drop-shadow(-5px -5px 10px #B40103);
    transition: opacity 0.5s ease;
    opacity: 1;
}

/* Criando etiquetas para os carrosséis */
.carousel-tag {
    position: absolute;
    top: 0; right: 0;
    z-index: 1;
    margin: 10px;
    background-color: var(--cor-background-card);
    border-radius: 5px;
    box-shadow: 0px 5px 10px -5px #a00000;
    line-height: 1; font-size: 0.9rem;
    padding: 10px;
    font-family: var(--search-bar-font);
    display: flex;
    justify-content: center;
    align-content: center;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.carousel-button {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 55px; height: 55px;
    box-shadow: 2px 3px 6px #0f0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-video {
    width: 100%;
    height: 25vw;
}

.carousel-style:hover .carousel-tag, 
.carousel-style:hover::before, 
.carousel-style:hover .carousel::before {
    opacity: 0;
}





.game-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

.game-spef {
    display: flex;
    flex-direction: column;
    font-family: var(--game-spef-font);
    font-size: 0.9rem;
    position: relative;
}

.game-spef p {
    margin: 0;
    line-height: 1.2;
}

#game-banner {
    border-radius: 5px;
    width: 200px;
    height: auto;
    box-shadow: 0px 5px 10px #660000;
}

.name-and-class-ind {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

#game-name {
    font-family: var(--game-name);
    margin: 0;
    padding: 0;
    line-height: 1;
}

#class-ind {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.game-description {
    font-family: var(--search-bar-font);
    font-size: 17px;
    position: relative; 
    filter: blur(2px);
    transition: filter 0.5s ease; 
}

.developer-and-release {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.genres {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.genre-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.genre-list a, .platform-list a {
    margin-right: 10px;
    border: 2px solid #790002;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    line-height: 1;
    transition:
        box 0.5s ease,
        background-color 0.5s ease,
        box-shadow 0.5s ease,
        transform 1s ease;
}

.genre-list a:hover, .platform-list a:hover {
    background-color: rgb(194, 0, 0);
    box-shadow: 2px 2px 10px 0 #B40103;
    border: none;
    transform: scale(1.1);
}

.platforms {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.platform-list button {
    background-color: rgb(194, 0, 0);
    border-radius: 5px;
    transition: 
        box-shadow 0.5s ease,
        transform 1s ease;
}

.platform-list button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 0 #B40103;
}

.platform-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
}

.share-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; height: 40px;
    background-color: var(--cor-botoes-e-acoes);
    border-radius: 40px;
    box-shadow: 0px 3px 6px #5e0002;
    transition: 
        box-shadow 0.5s ease,
        transform 1s ease,
        background-color 0.5s ease;
}

.share-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 0 #B40103;
    background-color: rgb(194, 0, 0);
}

.user-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-botoes-e-acoes);
    width: 40px; height: auto;
    padding-block: 15px;
    border-radius: 40px;
    box-shadow: 0px 3px 6px #5e0002;
}

.user-action-buttons button i {
    color: black;
    opacity: 0.5;
    font-size: 20px;
    transition:
        color 0.5s ease,
        transform 1s ease;
}

/* Estilização individual de alguns ícones que não possuem o mesmo tamanho aparente entre si */
.user-action-buttons button i.bi-plus {
    font-size: 32px; 
    font-weight: bold;
    line-height: 1;
}

.user-action-buttons button i.bi-play-fill {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

.user-action-buttons button i:hover {
    color: var(--cor-texto);
    transform: scale(1.1);
}











.game-stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
    width: 45%; height: 50%;
    position: relative;
    bottom: 0;
}

.reviewed, .played, .liked, .favourited {
    position: relative;
    width: 80px; height: 100px;
    background-color: #830000;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 5px 10px #220000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:
        width 0.5s ease;
}

.reviewed::before,
.played::before,
.liked::before,
.favourited::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border: 15px solid transparent;
    border-left: 15px solid #580000;
    border-top: 15px solid #580000;
    filter: drop-shadow(5px 5px 10px #d10000);
}

.reviewed:hover, .played:hover, .liked:hover, .favourited:hover {
    width: 100%;
}


