a {
    text-decoration: none;
    color: var(--cor-texto);
}

button {
    border: none;
    background-color: transparent;
    color: var(--cor-texto)
}

body {
    min-height: 100vh;
    background-color: #b40103;
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
}

@keyframes design-transition {
    0% {
        transform: translateX(-15%);
        opacity: 0.0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes image-animation {
    0% {
        transform: translateX()
    }
}

.container-relative {
    position: relative;
    flex: 1;
    min-height: 100vh;
}

.game-background-top {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100%;
    padding: 15px;
    background-color: #b40103;
    background-image: linear-gradient(to right, #540103 1%, transparent 40%);
    /* Pontos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    clip-path: polygon(0% 0%, 53% 0%, 48% 100%, 0% 100%);
    z-index: 10;
    animation: design-transition 1.5s ease forwards;
}

.game-background-bottom {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100%;
    background-color: #740103;
    /* background-image: linear-gradient(to right, #540103 1%, transparent 30%); */
    /* Pontos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    clip-path: polygon(0% 0%, 56.5% 0%, 50% 100%, 0% 100%);
    z-index: 5;
    animation: design-transition 1s ease forwards;
}

.wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.shadow-limit-bottom {
    filter: drop-shadow(8px 0px 10px #540103);
    z-index: 5;
}

.shadow-limit-top {
    filter: drop-shadow(5px 0px 10px #540103);
    z-index: 10;
}

.game-visuals {
    background-image: url('https://images5.alphacoders.com/752/thumb-1920-752070.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55vw;
}

.game-card {
    min-height: 35%;
    width: 45%;
    height: auto;
    padding: 20px;
    background-color: var(--cor-background-card);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 #B40103;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.game-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

.game-spef {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.game-spef p {
    margin: 0;
    line-height: 1;
}

#game-banner {
    border-radius: 5px;
    width: 200px;
    height: 100%;
}

.name-and-class-ind {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

#game-name {
    font-family: var(--game-name);
    margin: 0;
    padding: 0;
    line-height: 1;
}

#class-ind {
    display: flex;
    width: 25px;
    height: 25px;
    flex-shrink: 0;

}

.game-description {
    font-family: var(--search-bar-font);
    font-size: 17px;
}

.developer-and-release {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.genres {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.genre-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.genre-list a, .platform-list a {
    margin-right: 10px;
    border: 2px solid #790002;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    line-height: 1;
}

.genre-list a:hover, .platform-list a:hover {
    background-color: rgb(194, 0, 0);
    box-shadow: 2px 2px 10px 0 #B40103;
    border: none;
}

.platforms {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.platform-list button {
    background-color: rgb(194, 0, 0);
    border-radius: 5px;
}

.platform-list button:hover {
    box-shadow: 2px 2px 10px 0 #B40103;
}

.platform-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.rating-and-share {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: flex-end;
    line-height: 1;
}

.rating-and-share button {
    background-color: rgb(194, 0, 0);
    border-radius: 20px;
    padding: 10px;
}

.rating-and-share button:hover {
    box-shadow: 2px 2px 10px 0 #B40103;
}
