<%- include('./partials/_header') %>
    <main>
        <div class="container-relative">
            
            <!-- Criando o trapézio de baixo, que serve apenas como um componente visual do design -->
            <div class="shadow-limit-bottom"> <!-- Sombra -->
                <div class="game-background-bottom"></div> <!-- Definição do primeiro trapézio -->
            </div>

            <!-- Criando o trapézio de cima, que conterá as informações principais sobre o jogo -->
            <div class="shadow-limit-top"> <!--Criando uma div para que a sombra do elemento recortado apareça -->
                <div class="game-background-top"> <!-- Onde o trapézio é definido -->
                    <section class="game-card"> <!-- Criando o espaço onde o card estará -->
                        <div class="game-info"> <!-- Criando o espaço para informações específicas do jogo -->
                            <img id="game-banner" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co8fu7.webp" alt="Game Banner">
                            <div class="game-spef">
                                <div class="name-and-class-ind">
                                    <h3 id="game-name">Minecraft</h3>
                                    <img id="class-ind" src="https://logodownload.org/wp-content/uploads/2017/07/classificacao-livre-logo.png" alt="Classificação Indicativa">
                                </div>
                                <div class="developer-and-release">
                                    <p id="paragraph-info"><strong>Lançamento:</strong> 18 de novembro de 2011 (versão oficial)</p>
                                    <p id="paragraph-info">
                                        <strong>Desenvolvedora:</strong> <a href="#">Mojang Studios</a>
                                    </p>
                                </div>
                                <div class="genres">
                                    <p><strong>Gêneros:</strong></p>
                                    <div class="genre-list">
                                        <a href="#">Simulation</a>
                                        <a href="#">Adventure</a>
                                        <a href="#">Arcade</a>
                                    </div>
                                </div>
                                <div class="platforms">
                                    <p><strong>Plataformas: </strong></p>
                                    <div class="platform-list">
                                        <a href="#">Android</a>
                                        <a href="#">Windows</a>
                                        <button>Ver Mais</button>
                                    </div>
                                </div>
                            </div>
                            <div class="action-buttons">
                                <button class="share-button">
                                    <i class="bi bi-share-fill"></i>
                                </button>
                                <div class="user-action-buttons">
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-Nome-do-Jogo">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                    <button>
                                        <i class="bi bi-play-fill"></i>
                                    </button>
                                    <button>
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button>
                                        <i class="bi bi-star-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="game-description">
                            <div class="description d-flex align-items-center opacity-100" style="border-left: 4px solid;">
                                <p class="ms-3">
                                    Minecraft focuses on allowing the player to explore, interact with, and modify a dynamically-generated map made of one-cubic-meter-sized blocks. In addition to blocks, the environment features plants, mobs, and items. Some activities in the game include mining for ore, fighting hostile mobs, and crafting new blocks and tools by gathering various resources found in the game. The game's open-ended model allows players to create structures, creations, and artwork on various multiplayer servers or their single-player maps. Other features include redstone circuits for logic computations and remote actions, minecarts and tracks, and a mysterious underworld called the Nether. A designated but completely optional goal of the game is to travel to a dimension called the End, and defeat the ender dragon.
                                </p>
                            </div>
                        </div>
                        <button id="show-more">
                            <i class="bi bi-caret-down-fill"></i>
                        </button>
                    </section>
                    <div class="game-stats">
                        <div class="reviewed"></div>
                        <div class="played"></div>
                        <div class="liked"></div>
                        <div class="favourited"></div>
                    </div>
                </div>
            </div>

            <section class="game-visuals">
                <div class="image-carousel carousel-style ">
                    <div id="imageCarousel" class="carousel slide">
                        <p class="carousel-tag">Imagens</p>
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.igdb.com/igdb/image/upload/t_720p/ar4nm4.webp" class="d-block w-100" alt="Game Image 1">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.igdb.com/igdb/image/upload/t_720p/ar4nm5.webp" class="d-block w-100" alt="Game Image 2">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.igdb.com/igdb/image/upload/t_720p/ar4qpp.webp" class="d-block w-100" alt="Game Image 2">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                            <i class="carousel-button bi bi-caret-left-fill"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                            <i class="carousel-button bi bi-caret-right-fill"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="video-carousel carousel-style ">
                    <div id="videoCarousel" class="carousel slide">
                        <p class="carousel-tag">Trailers</p>
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#videoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#videoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#videoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <iframe class="carousel-video" src="https://www.youtube.com/embed/MmB9b5njVbA?si=OwfrW6r5RrE68J34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <iframe class="carousel-video" src="https://www.youtube.com/embed/vyr3XZrZssk?si=wZn9bxddoC3EEmzN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <iframe class="carousel-video" src="https://www.youtube.com/embed/D2Z9oKTzzrM?si=P9YgQiSOh6K2Oby4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                            <i class="carousel-button bi bi-caret-left-fill"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                            <i class="carousel-button bi bi-caret-right-fill"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
        <section class="review-lobby">
            <div class="shadow-limit-bottom">
                <div class="review-background-bottom"></div>
            </div>

                <div class="review-background-top">
                    <div class="reviews-title">
                        <i id="review-icon" class="bi bi-star-fill"></i>
                        <h2>Avaliações de Minecraft</h2>
                    </div>
                </div>
        </section>
    </main>

    <script src="/javascripts/card_activate.js"></script>
    <script src="/js/likeRating.js"></script>
    <script src="/js/starsRating.js"></script>

<%- include('partials/modalCreateReview', { nameGame: 'Nome do Jogo', year: '2024', gameCover: '/images/default.jpg' }) %>
<%- include('./partials/_footer') %>
