<%- include('./partials/_header') %>

   <main class="w-100 m-auto form-container" style="max-width: 350px;"> 
    <div class="container mt-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Login</button>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h3 mb-3 fw-normal text-center">Entre em sua conta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label fw-bold">E-mail</label>
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingEmail" placeholder="nome@exemplo.com">
                                    <label for="floatingEmail">seu@email.com</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Senha</label>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Sua senha">
                                    <label for="floatingPassword">mínimo 6 caracteres</label>
                                </div>
                            </div>

                            <!-- Link de cadastro no lugar do lembre-me -->
                            <p class="text-center mt-3">
                                Não tem uma conta? <a href="/signup">Cadastre-se</a>
                            </p>

                            <button class="btn btn-lg btn-primary py-2 w-100" type="submit">Entrar</button>

                            <p class="text-body-secondary mt-5 mb-3 text-center">@GGView</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

<%- include('./partials/_footer') %>