<%- include('partials/_header') %>

   <main> 
    <div class="login">
        <div class="introduction">
            <div class="image-display">
                <div class="main-image-wrapper">
                    <img class="main-image" src="https://images.igdb.com/igdb/image/upload/t_720p/ar4nm5.webp" alt="Main Game Banner">
                </div>
                <div class="image-top-wrapper">
                    <img class="image-top" src="https://images.igdb.com/igdb/image/upload/t_720p/ar4rzl.webp" alt="Game Banner 1">
                </div>
                <div class="image-bottom-wrapper">
                    <img class="image-bottom" src="https://images.igdb.com/igdb/image/upload/t_720p/ar5tpp.webp" alt="Game Banner 2">
                </div>
            </div>

            <div class="login-title">
                <h1>Bem vindo.</h1>
                <p>Seja bem vindo á plataforma de avaliação de games recém lançada da Web. Um trabalho, cinco pessoas e um sonho: Avaliar nossos jogos favoritos. :D</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Faça login</button>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h3 mb-3 fw-normal text-center">Entre em sua conta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label fw-bold">E-mail</label>
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingEmail" placeholder="nome@exemplo.com">
                                    <label for="floatingEmail">seu@email.com</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Senha</label>
                                <div class="form-floating">
                                    <input type="senha" class="form-control" id="floatingPassword" placeholder="Sua senha">
                                    <label for="floatingPassword">mínimo 6 caracteres</label>
                                </div>
                            </div>

                            <!-- Link de cadastro no lugar do lembre-me -->
                            <p class="text-center mt-3">
                                Não tem uma conta? <a href="/signup">Cadastre-se</a>
                            </p>

                            <button class="btn btn-lg btn-primary py-2 w-100" type="submit">Entrar</button>

                            <p class="text-body-secondary mt-5 mb-3 text-center">@GGView</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

<%- include('partials/_footer') %>